# Maven
target/

# Gradle
.gradle/
**/.gradle/**
build/

# Java/IDE
*.iml
.idea/

# Node
node_modules/
dist/

# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Serverless/SAM
.serverless/
.aws-sam/

# macOS
.DS_Store
